html {
  height: 100%;
  width: 100%;
}

body {
  display: block;
  background-color: #cccccc;
}

.all {
  width: 470px;
  height: 210px;
  position: absolute;
  left: 50%;
  margin-left: -235px;
  top: 50%;
  margin-top: -105px;
  color: #ffffff;
  background-color: #cccccc;
  display: flex;
  justify-content: space-between;
}

.circle-t {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  text-align: center;
  background: white;
  position: relative;
  z-index: 2;
}

.circle-t::after {
  background: #1da1f2;
  border-radius: 50%;
  content: "";
  text-align: center;
  height: 210px;
  width: 210px;
  z-index: -1;
  pointer-events: none;
  transform: scale(0, 0);
  transition: 0.3s;
}

.fa-twitter {
  flex: 1;
  color: #1da1f2;
  font-size: 7em;
  position: absolute;
}

.circle-t:hover::after {
  transform: scale(1, 1);
  transition: transform 0.3s;
}
.circle-t:hover .fa-twitter {
  color: white;
}

.circle-f {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  text-align: center;
  background: white;
  position: relative;
  z-index: 2;
}

.circle-f::after {
  background: #3b5998;
  border-radius: 50%;
  content: "";
  text-align: center;
  height: 210px;
  width: 210px;
  z-index: -1;
  pointer-events: none;
  transform: scale(0, 0);
  transition: 0.3s;
}

.fa-facebook-f {
  flex: 1;
  position: absolute;
  color: #3b5998;
  font-size: 7em;
}

.circle-f:hover::after {
  transform: scale(1, 1);
  transition: transform 0.3s;
}
.circle-f:hover .fa-facebook-f {
  color: white;
}
