html {
  height: 100%;
  width: 100%;
}

body {
  display: block;
  /* background-color: #cccccc; */
}

.all {
  width: 470px;
  height: 210px;
  position: absolute;
  left: 50%;
  margin-left: -235px;
  top: 50%;
  margin-top: -105px;
  color: #ffffff;
  background-color: #cccccc;
  display: flex;
  justify-content: space-between;
}

.circle-parent-t {
  display: flex;
  align-items: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  text-align: center;
  /* transform-origin: center; */
  /* transform: scale(0, 1); */
  background: white;
}
.circle-parent-f {
  display: flex;
  align-items: center;
  width: 210px;
  height: 210px;
  background: #333;
  border-radius: 50%;
  text-align: center;
}

.circle-t {
  text-align: center;
  display: flex;
  align-items: center;
  /* text-align: center; */
  height: 210px;
  width: 210px;
  /* z-index: -1; */
  opacity: 0.99;
  background: #3399ff;
  /* top: 50%;
  left: 50%; */
  border-radius: 50%;
  /* transform: translate(-50%, -50%); */
  transform-origin: center center;
  transform: scale(0, 0);
  transition: transform 0.3s;
  /* z-index: 99; */
  /* -webkit-transition: all 0.4s ease-in-out; */
}

.tMark {
  z-index: 5;
}

.fa-twitter {
  /* line-height: 210px; */
  /* border: none 100px; */
  /* border-radius: 50%; */
  /* background: white; */
  /* z-index: 1; */
  flex: 1;
  color: #3399ff;
  font-size: 7em;
  /* transition-property: color; */
  /* transition-duration: 1s; */
}

.circle-parent-t:hover .circle-t {
  transform: scale(1, 1);
  /* width: 100%;
  height: 100%;
  background: #3399ff; */
}
.circle-parent-t:hover .fa-twitter {
  color: white;
}

.circle-f {
  display: flex;
  align-items: center;
  width: 210px;
  height: 210px;
  background: #333;
  border-radius: 50%;
  text-align: center;
}

.fa-facebook-f {
  flex: 1;
  color: #003399;
  font-size: 7em;
}
